@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.main {
    font-family: 'Roboto', sans-serif;
    .navBar {
        background-color: #3F51B5;
        font-family: 'Press Start 2P', cursive;
        .brand-logo {
            font-size: 16px;
            margin-left: 40px;
        }        
    }
}

.GameDetails {
    width: 100%;
    height: 30px;
    background-color: #3F51B5; 
    text-align: center;
    color: #fff;
}

.name{
    padding: 10px;
}
